@font-face {
  font-family: 'Georgia';
  src: local("Georgia"), url("../../../assets/fonts/Georgia.ttf") format("ttf"), url("../../../assets/fonts/Georgia.woff") format("woff"), url("../../../assets/fonts/Georgia.eot") format("eot"), url("../../../assets/fonts/Georgia.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: local("Arial"), url("../../../assets/fonts/Arial.ttf") format("ttf"), url("../../../assets/fonts/Arial.woff") format("woff"), url("../../../assets/fonts/Arial.eot") format("eot"), url("../../../assets/fonts/Arial.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: local("Arial"), url("../../../assets/fonts/Arial-Italic.ttf") format("ttf"), url("../../../assets/fonts/Arial-Italic.woff") format("woff"), url("../../../assets/fonts//Arial-Italic.eot") format("eot"), url("../../../assets/fonts/Arial-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1279.98px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 10px;
  }
}

.section-title {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 767.98px) {
  .section-title {
    font-size: 25px;
  }
}

.primary-btn {
  padding: 15px 45px;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 100px;
}

.primary-btn:hover {
  background: #FDDCC4;
}

.header {
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header__container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  text-align: right;
}

.header__burger {
  position: relative;
  display: none;
  z-index: 3;
  width: 30px;
  height: 22px;
  margin-right: 43px;
}

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
  }
}

.header__burger::before, .header__burger::after {
  content: '';
}

.header__burger::before, .header__burger::after, .header__burger span {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  top: 10px;
}

.header__burger.open::before {
  -webkit-transform: rotate(90deg) translate(10px, 11px);
          transform: rotate(90deg) translate(10px, 11px);
}

.header__burger.open::after {
  -webkit-transform: rotate(90deg) translate(-10px, -9px);
          transform: rotate(90deg) translate(-10px, -9px);
}

.header__burger.open span {
  -webkit-transform: rotate(90deg) translate(0px, 1px);
          transform: rotate(90deg) translate(0px, 1px);
}

.logo__title {
  margin-bottom: 10px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #545454;
}

.logo__subtitle {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

@media (max-width: 767.98px) {
  .menu__list {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #FFFFFF;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }
}

.menu__list.open {
  right: 0;
}

.menu__link {
  display: inline-block;
  line-height: 24px;
  letter-spacing: 0.075px;
  color: #545454;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 767.98px) {
  .menu__link {
    font-size: 32px;
    line-height: 160%;
  }
}

.menu__link:hover {
  color: #292929;
}

.menu__link_active {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.our-friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
}

@media (max-width: 1279.98px) {
  .our-friends {
    padding-bottom: 75px;
  }
}

@media (max-width: 767.98px) {
  .our-friends {
    padding: 42px 0;
  }
}

.our-friends__title {
  text-align: center;
  margin-bottom: 59px;
}

@media (max-width: 1279.98px) {
  .our-friends__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .our-friends__title {
    margin-bottom: 42px;
  }
}

.our-friends .our-friends__cards {
  margin: 0 auto 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
}

@media (max-width: 1279.98px) {
  .our-friends .our-friends__cards {
    margin: 0 auto 40px auto;
    width: 81.9209%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 767.98px) {
  .our-friends .our-friends__cards {
    width: 270px;
    overflow: hidden;
    -ms-grid-columns: 270px;
        grid-template-columns: 270px;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
}

.pet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 270px;
  border-radius: 9px;
  background-color: #FAFAFA;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1279.98px) {
  .pet:nth-child(7), .pet:nth-child(8) {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .pet:nth-child(6), .pet:nth-child(5), .pet:nth-child(4) {
    display: none;
  }
}

.pet:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet:hover .pet__btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.pet:hover .pet__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.pet * {
  margin-bottom: 30px;
}

.pet__photo {
  height: 270px;
}

.pet__name {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pet__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 187px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  background: transparent;
  color: #292929;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 767.98px) {
  .navigation {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.navigation__btn {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F1CDB3;
  color: #292929;
  background: transparent;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 1.09;
}

.navigation__btn_disabled {
  cursor: default;
  color: #CDCDCD;
  border-color: #CDCDCD;
}

.navigation__btn_now {
  background-color: #F1CDB3;
}

.navigation__btn_next {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation__btn_next:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.navigation__btn_to-end {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation__btn_to-end:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.footer {
  background: url(../../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__container {
  margin-top: 40px;
}

@media (max-width: 1279.98px) {
  .footer__container {
    margin-top: 30px;
  }
}

.footer__row {
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 1279.98px) {
  .footer__row {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 279px 302px;
        grid-template-columns: 279px 302px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    height: auto;
    -webkit-column-gap: 8.47458%;
            column-gap: 8.47458%;
    row-gap: 66px;
  }
}

@media (max-width: 767.98px) {
  .footer__row {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    row-gap: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__contacts {
  padding-top: 16px;
  padding-bottom: 60px;
  width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279.98px) {
  .footer__contacts {
    height: 234px;
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  .footer__contacts {
    height: auto;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__title {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

@media (max-width: 767.98px) {
  .footer__title {
    padding: 0 10px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
  }
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

@media (max-width: 767.98px) {
  .footer__email {
    margin-bottom: 40px;
  }
}

.footer__email img {
  margin-right: 20px;
}

.footer__location {
  width: 302px;
  padding-top: 16px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279.98px) {
  .footer__location {
    height: 234px;
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  .footer__location {
    width: auto;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer__image {
  width: 300px;
  min-height: 310px;
}

@media (max-width: 1279.98px) {
  .footer__image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-column-align: center;
        justify-self: center;
    min-height: auto;
  }
}

@media (max-width: 767.98px) {
  .footer__image {
    min-height: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    width: 86.66667%;
  }
}
