
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-dark-s: #CDCDCD; 
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-dark: #000000;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6; 
$color-light-xl: #FFFFFF;

@font-face {
    font-family: 'Georgia';
    src: local('Georgia'), url('../../../assets/fonts/Georgia.ttf') format('ttf'), 
    url('../../../assets/fonts/Georgia.woff') format('woff'),
    url('../../../assets/fonts/Georgia.eot') format('eot'),
    url('../../../assets/fonts/Georgia.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial'), url('../../../assets/fonts/Arial.ttf') format('ttf'), 
    url('../../../assets/fonts/Arial.woff') format('woff'),
    url('../../../assets/fonts/Arial.eot') format('eot'),
    url('../../../assets/fonts/Arial.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial'), url('../../../assets/fonts/Arial-Italic.ttf') format('ttf'), 
    url('../../../assets/fonts/Arial-Italic.woff') format('woff'),
    url('../../../assets/fonts//Arial-Italic.eot') format('eot'),
    url('../../../assets/fonts/Arial-Italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}


@mixin small {
    @media (max-width: 767.98px) { @content; }
}
@mixin medium {
    @media (max-width: 1279.98px) { @content; }
}

html {
    scroll-behavior: smooth; 
}
body {
    background: url(../../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.wrapper {
    display: flex;
    flex-direction: column;
    // width: 1280px;
}
.main {
    flex-basis: auto;
} 
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    
    @include medium() {
        padding: 0 30px;

    }

    @include small() {
        padding: 0 10px;
    }
}

body.lock {
    overflow: hidden;

    .header__overlay {
        display: block;
        right: 0;
    }
}
// ======= bloks =====
.section-title {
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: $color-dark-l;

    @include small() {
        font-size: 25px;
    }

}

.primary-btn {
    padding: 15px 45px;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    background-color: $color-primary;
    border-radius: 100px;
    transition: 0.3s;

    &:hover {
        background: $color-primary-light;
    }
}



// ========== header ==========
.header {
    &__container {
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        @include medium() {
            padding-top: 30px;

        }
    }
    &__logo {
        text-align:right;
    }
    &__menu {
    }
    &__overlay {
        position: fixed;
        top: 0;
        right: -100vw;
        width: 100vw;
        height: 100vh;
        transition: 0.3s;
        background-color: $color-dark-3xl;
        opacity: 0.6;
        z-index: 1;
    }
    &__burger {
        position: relative;
        display: none;
        z-index: 3;
        width: 30px;
        height: 22px;
        margin-right: 43px;

        @include small() {
            display: block;
        }

        span {
            width: 100%;
            height: 2px;
            background-color: $color-primary;
        }

        &::before, &::after {
            content: '';
        }
        &::before, &::after, span {
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: $color-primary;
            transition: all 0.3s ease 0s;
        }

        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: 10px;
        }

        &.open {
            // &::before, &::after, span {
            //     transform: rotate(90deg);
            // }
            
            &::before {
                transform: rotate(90deg) translate(10px, 11px);
            }
            &::after {
                transform: rotate(90deg) translate(-10px, -9px);
            }
            span {
                transform: rotate(90deg) translate(0px, 1px);
            }
        }




    }
}

.logo {
    &__title {
        margin-bottom: 10px;
        font-family: 'Georgia';
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0.06em;
        color: $color-primary;
    }
    &__subtitle {
        font-family: 'Arial';
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: $color-light-xl;
    }
}


.menu {
    // position: relative;
    &__logo {
        position: absolute;
        right: 126px;
        top: 30px;

transform: translateY(-100px);
        // transform: scale(0);
        transition: 0.5s;
        // transition-delay: 0.s;
    }
    &__list {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        gap: 35px;
        
        @include small() {
            position: fixed;
            top: 0;
            right: -320px;
            width: 320px;
            height: 100vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color-dark-3xl;
            transition: all 0.5s ease 0s;
            // overflow-y: scroll;
            z-index: 2
        }
        &.open {
            right: 0;
            // box-shadow: 0 0 0 500px rgba(41, 41, 41, 0.6);
            & + .menu__logo {
                transform: translateY(0px);

                // opacity: 1;
                // transform: scale(1);
                z-index: 5;
                // display: block;
            }
        }
        
    }
    &__item {
    }
    &__link {
        display: inline-block;
        line-height: 24px;
        letter-spacing: 0.075px;
        color: $color-dark-s;
        transition: 0.3s;
        &:hover {
            color: $color-light-s;
        }

        @include small() {
            font-size: 32px;
            line-height: 160%;
        }
    }
    &__link_active {
        color: $color-light-s;
        border-bottom: 3px solid $color-primary;

    }
}

// =========== main =============
.main {
    &__container {
    }
    &__start-screen {
    }
    &__about {
    }
    &__our-friends {
    }
}


.start-screen {

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;

        @include medium() {
            flex-direction: column;
            align-items: center;
            justify-content: start;
        }

    }

    &__content {
        width: 460px / 1200px * 100%;
        padding: 163px 0 243px 0;

        @include medium() {
            width: (460 / 708 *100%);
            padding: 0 0 100px 0;
        }
        
        @include small() {
            width: 100%;
            padding: 0 0 106px 0;
            
        }
    }
    &__title {
        margin-bottom: 42px;
        font-family: 'Georgia';
        font-size: 44px;
        line-height: 1.3;
        color: $color-light-xl;

        
        @include medium() {
            font-size: 44px;
            line-height: 130%;
        }

        @include small() {
            font-size: 25px;
            letter-spacing: 0.06em;
            line-height: 128%;
            text-align: center;

        }
    }
    &__description {
        margin-bottom: 57px;
        color: $color-light-l;

        @include medium() {
            margin-bottom: 42px;
            text-align: justify;
            font-size: 15px;
            line-height: 160%;
        }

        @include small() {
            text-align: center;
        }
    }

    &__btn {
        width: 208px;
        height: 52px;


        @include medium() {
            display: block;
            margin: 0 auto;
        }
    }
    &__image {
        width: 698px / 1200px * 100%;
        height: auto;

        @include medium() {
            width: 568 / 708 * 100%;
            align-self: flex-end;
        }

        @include small() {
            width: 260 / 300 * 100%;
        }
    }
}


.about {
    background-color: $color-light-xl;
    padding-top: 80px;
    padding-bottom: 100px;    

    @include small() {
        padding: 42px 0;
    }
    
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;

        @include medium() {
            flex-direction: column-reverse;
            gap: 80px;
        }

        @include small() {
            flex-direction: column-reverse;
            gap: 19px;
        }
    }
    &__image {
        @include small() {
            width: 260px;
        }
    }
    &__content {
        width: 430px;

        *:not(:last-child) {
            margin-bottom: 25px;
        }
        
        @include medium() {
            width: 430 / 708 *100%;
        }

        @include small() {
            width: 100%;
            *:not(:last-child) {
                margin-bottom: 23px;
            }
        }

        
    }
    &__title {
        @include small() {
            text-align: center;
        }
    }
    &__text {
        
        @include small() {
            margin-bottom: 22px;
            padding: 0 15px;
            text-align: justify;
        }
    }
}


.our-friends {
    padding-top: 80px;
    padding-bottom: 100px;    
    background-color: $color-light-l;
    
    @include small() {
        padding: 42px 0;
    }

    &__container {
        
    }
    &__title {
        text-align: center;
        margin-bottom: 60px;

        @include medium() {
            margin-bottom: 58px;
        }

        @include small() {
            margin-bottom: 41px;
        }
    }
    &__slider {
        margin-bottom: 60px;

        @include small() {
            margin-bottom: 42px;
        }
    }
    &__btn {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 261px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.slider {
    display: grid;
    grid-template-columns: 52px auto 52px;
    // column-gap: 52px;
    align-items: center;
    justify-items: center; 
    
    @include medium() {
        display: flex;
        justify-content: center;
        // column-gap: 12px;
    }

    @include small() {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 80px;
        row-gap: 20px;
        // justify-content: center;
    }
    &__wrapper {
        width: 1094px;
        padding: 0 52px;
        overflow: hidden;
        
        @include medium() {
            width: 604px;
            padding: 0 12px;

        }
        @include small() {
            width: 270px;
            grid-column: 1 / 3;
            justify-self: center;
        }
    }
    &__cards {
        position: relative;
        display: flex;
        justify-content: center;
        left: 0px;

        
        & > * {
            display: flex;
            justify-content: center;
            column-gap: 90px;
            width: 1094px;
            padding: 0 52px;
        }
        @include medium() {
            & > * {
                padding: 0 12px;
                width: 604px;
                column-gap: 40px;
            }

        }
        
        @include small() {
            & > * {
            width: 270px;
            }
    
        }


    }

    &__item {
    
    }
    
    &__prev {
        flex-shrink: 0;
        width: 52px;
        height: 52px;
        border: 2px solid $color-primary;
        border-radius: 100px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        &:hover {
            border: 2px solid $color-primary-light;
            background-color: $color-primary-light;
        }

        @include small() {
            order: 2;
            justify-self: end;
        }
    }
    &__next {
        flex-shrink: 0;
        width: 52px;
        height: 52px;
        border: 2px solid $color-primary;
        border-radius: 100px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        &:hover {
            background-color: $color-primary;
        }
        
        @include small() {
            order: 3;
            justify-self: start;
        }
    }
    
    
}

@keyframes move-next {
    from {left: 0px;}
    to {left: -1094px;}
}

.transition-right {
    animation-name: 'move-next';
    animation-duration: 1s;
}
@include medium() {
    @keyframes move-next {
        from {left: 0}
        to {left: -604px;}
    }
    // .transition-right {
    //     animation-name: 'move-next';
    //     animation-duration: 0.7s;
    // }
}
@include small() {
    @keyframes move-next {
        from {left: 0}
        to {left: -270px;}
    }
    // .transition-right {
    //     animation-name: 'move-next';
    //     animation-duration: 0.4s;
    // }
}

@keyframes move-prev {
    from {left: 0px;}
    to {left: 1094px;}
}
.transition-left {
    animation-name: 'move-prev';
    animation-duration: 1s;
}

@include medium() {
    @keyframes move-prev {
        from {left: 0}
        to {left: 604px;}
    }
    // .transition-left {
    //     animation-name: 'move-prev';
    //     animation-duration: 0.7s;
    // }
}
@include small() {
    @keyframes move-prev {
        from {left: 0}
        to {left: 270px;}
    }
    // .transition-left {
    //     animation-name: 'move-prev';
    //     animation-duration: 0.4s;
    // }
}



.pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 270px;
    height: 435px;
    border-radius: 9px;
    background-color: $color-light-s;
    transition: 0.3s;
    overflow-x: hidden;


    @include medium() {
        &:nth-child(3) {
            display: none;
        }
    }

    @include small() {
        &:nth-child(2) {
            display: none;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: $color-light-xl;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);


        .pet__btn {
            transition: 0.3s;
            border-color: $color-primary-light;
            background-color: $color-primary-light
        }
        .pet__btn:hover {
            transform: scale(1.05);
        }

    }

    * {
        margin-bottom: 30px;
    }

    &__photo {
        height: 270px;
        // width: 270px;
    }
    &__name {
        font-family: 'Georgia';
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
    &__btn {
        box-sizing: border-box;
        width: 187px;
        height: 52px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $color-primary;
        border-radius: 100px;
        font-family: 'Georgia';
        font-size: 17px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        background: transparent;
        color: $color-dark-3xl;
    }
}
.main__help {
}
.help {
    padding-top: 80px;
    padding-bottom: 100px;    
    background-color: $color-light-xl;

    @include small() {
        padding: 42px 0;
    }
    
    &__title {
        margin-bottom: 60px;
        text-align: center;

        @include small() {
            margin-bottom: 42px;
        }
    }
    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        column-gap: 10%;
        row-gap: 55px;
        
        @include medium() {
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 170px);
            grid-template-rows: auto;
            width: 630 / 708 * 100%;
            column-gap: 9.47458%;
        }

        @include small() {
            width: 100%;
            grid-template-columns: repeat(2, 130px);
            column-gap: 30px;
            row-gap: 29px;
        }
    }
    &__item {
        text-align: center;

        @include medium() {
            width: 170px;
        }

        @include small() {
            width: 130px;
        }
    }
    &__icon {
        margin-bottom: 30px;
        
        @include small() {
            width: 50px;
            margin-bottom: 21px;
        }
    }
    &__text {
        font-family: 'Georgia';
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.06em;
        color: $color-dark-l;

        @include small() {
            font-size: 15px;
            line-height: 1.1;
        }
    }
}

.main__donation {
}

.donation {

    padding-top: 80px;
    padding-bottom: 100px;    
    background-color: $color-light-l;

    @include small() {
        padding: 42px 0;
    }

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        
        @include medium() {
            flex-direction: column-reverse;
            align-items: center;
            row-gap: 60px;
        }
        
        @include small() {
            row-gap: 41px;
            
        }

    }
    &__image {
        flex-shrink: 1;
        
        @include medium() {
            width:  505px;
            flex-basis: auto;
        }

        @include small() {
            width: 260px;
        }
    }
    &__content {
        width: 380px;
        flex-shrink: 0;
        
        @include medium() {
            flex-basis: auto;
            width: 380 / 708 * 100%;
        }

        @include small() {
            width: 100%;
            text-align: center;
        }
        
    }
    &__title {
        margin-bottom: 18px;
        @include small() {
            margin-bottom: 20px;
        }
        
    }
    &__subtitle {
        margin-bottom: 20px;
        font-family: 'Georgia';
        font-size: 15px;
        line-height: 1.1;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        
        @include small() {
            letter-spacing: 0;
            // text-align: center;
            font-size: 15px;
            line-height: 160%;
        }
    }
    &__link {
        cursor: pointer;
        margin-bottom: 20px;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 9px;
        font-family: 'Georgia';
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        background-color: $color-primary;
        transition: 0.3s;
        
        @include small() {
            text-align: center;
            font-size: 15px;
            line-height: 160%;
        }
        
        &:hover {
            background-color: $color-primary-light;
        }
        
        
        img {
            margin-right: 10px;
        }
        p {
            display: inline;
        }
    }
    &__text {
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $color-dark-m;
        
        @include small() {
            padding: 0 10px;
            text-align: justify;
        }
    }
}

.footer {
    &__container {
        margin-top: 40px;

        @include medium() {
            margin-top: 30px;
        }
    }
    &__row {
        height: 310px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        
        @include medium() {
            display: grid;
            justify-content: center;
            grid-template-columns: 279px 302px;
            grid-template-rows: auto;
            height: auto;
            column-gap: (60 / 708 * 100%);
            row-gap: 66px;
        }
        @include small() {
            grid-template-columns: auto;
            grid-template-rows: repeat(3, auto);
            row-gap: 0px;
            justify-content: center;
            align-items: center;
        }
    }
    
    &__contacts {
        padding-top: 16px;
        padding-bottom: 60px;
        width: 279px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include medium() {
            height: 234px;
            padding: 0;
            
        }

        @include small() {
            height: auto;
            width: auto;
            align-items: center;
            
        }
    }
    &__title {
        font-family: 'Georgia';
        font-size: 35px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        color: $color-light-xl;

        @include small() {
            padding: 0 10px;
            margin-bottom: 40px;
            text-align: center;
            font-size: 25px;
        }
    }
    &__email {
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: 'Georgia';
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-primary;
        
        @include small() {
            margin-bottom: 40px;
        }

        & img {
            margin-right: 20px;
        }
    }
    &__location {
        width: 302px;
        padding-top: 16px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include medium() {
            height: 234px;
            padding: 0;
        }

        
        @include small() {

            width: auto;
            height: auto;
            *:not(:first-child) {
                
                align-items: start;
            }
            
        }
        
    }
    &__image {
        width: 300px;
        min-height: 310px;
        @include medium() {
            grid-column: 1 / 3;
            justify-self: center;
            min-height: auto;
        }
        @include small() {
            min-height: auto;
            grid-column: 1 / 2;
            width: (260 / 300 * 100%);
        }
        // flex-shrink: 0;

    }
}



.overlay {
        transform: scale(0);
        cursor: pointer;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: transparentize($color-dark-3xl, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s;
        &:hover>div:not(:hover) .modal__btn-close {
            border: 2px solid $color-primary-light;
            background-color: $color-primary-light;
        }
        &.open {
            transform: scale(1);
        }
    }
    
    .modal {
    // overflow-y: auto;
    position: relative;
    width: (900 / 1280) * 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 9px;
    background-color: $color-light-s;
    color: $color-dark;
    cursor: auto;
    
    @include medium() {
        width: (630 / 768) * 100%;

    }

    @include small() {
        width: (240 / 320) * 100%;
    }
    // &:hover>div:not(:hover) .modal__btn-close {
    //     border: 2px solid $color-primary;
    //     background-color: transparent;
    // }

    &__btn-close {
        position: absolute;
        right: -42px;
        top: -52px;
        width: 52px;
        height: 52px;
        border: 2px solid $color-primary;
        box-sizing: border-box;
        border-radius: 100px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        
        &:hover {
            border: 2px solid $color-primary-light;
            background-color: $color-primary-light;
        }

        @include small() {
            right: -30px;
        }
    }
    &__image {
        width: 500px;
        @include medium() {
            width: 350px;
        }
        @include small() {
            display: none;
        }
    }
    &__content {
        padding: 50px 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        @include medium() {
            padding: 10px;

        }
    }
    &__name {
        font-size: 35px;
        line-height: 130%;
        margin-bottom: 10px;
    }
    &__type {
        font-size: 20px;
        line-height: 115%;
        margin-bottom: 40px;
        
        @include medium() {
            margin-bottom: 20px;
        }
    }
    &__description {
        margin-bottom: 40px;
        @include medium() {
            margin-bottom: 20px;
        }

    }
    &__info-about-pet {

        li:not(:last-child) {
            margin-bottom: 10px;
            @include medium(){
                
                margin-bottom: 5px;
            }
        }
        & span {
            font-weight: 700;
        }
    }
    &__age {
    }
    &__inoculations {

    }
    &__diseases {
    }
    &__parasites {
    }
}
