
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-dark-s: #CDCDCD; 
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-dark: #000000;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6; 
$color-light-xl: #FFFFFF;

@font-face {
    font-family: 'Georgia';
    src: local('Georgia'), url('../../../assets/fonts/Georgia.ttf') format('ttf'), 
    url('../../../assets/fonts/Georgia.woff') format('woff'),
    url('../../../assets/fonts/Georgia.eot') format('eot'),
    url('../../../assets/fonts/Georgia.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial'), url('../../../assets/fonts/Arial.ttf') format('ttf'), 
    url('../../../assets/fonts/Arial.woff') format('woff'),
    url('../../../assets/fonts/Arial.eot') format('eot'),
    url('../../../assets/fonts/Arial.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial'), url('../../../assets/fonts/Arial-Italic.ttf') format('ttf'), 
    url('../../../assets/fonts/Arial-Italic.woff') format('woff'),
    url('../../../assets/fonts//Arial-Italic.eot') format('eot'),
    url('../../../assets/fonts/Arial-Italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}

@mixin small {
    @media (max-width: 767.98px) { @content; }
}
@mixin medium {
    @media (max-width: 1279.98px) { @content; }
}

html {
    scroll-behavior: smooth; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    // width: 1280px;
}
.main {
    flex-basis: auto;
} 
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    
    @include medium() {
        padding: 0 30px;

    }

    @include small() {
        padding: 0 10px;
    }
}
// ======= bloks =====
.section-title {
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: $color-dark-l;

    @include small() {
        font-size: 25px;
    }
}

.primary-btn {
    padding: 15px 45px;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    background-color: $color-primary;
    border-radius: 100px;

    &:hover {
        background: $color-primary-light;
    }
}



// ========== header ==========
.header {
    background-color: $color-light-xl;
    position: sticky;
    top: 0;
    &__container {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        text-align:right;
    }
    &__menu {
    }

    &__burger {
        position: relative;
        display: none;
        z-index: 3;
        width: 30px;
        height: 22px;
        margin-right: 43px;

        @include small() {
            display: block;
        }

        // span {
        //     width: 100%;
        //     height: 2px;
        //     background-color: $color-primary;
        // }

        &::before, &::after {
            content: '';
        }
        &::before, &::after, span {
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: $color-dark;
            transition: all 0.3s ease 0s;
        }

        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: 10px;
        }

        &.open {
            &::before {
                transform: rotate(90deg) translate(10px, 11px);
            }
            &::after {
                transform: rotate(90deg) translate(-10px, -9px);
            }
            span {
                transform: rotate(90deg) translate(0px, 1px);
            }
        }

    }
}

.logo {
    &__title {
        margin-bottom: 10px;
        font-family: 'Georgia';
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
    &__subtitle {
        font-family: 'Arial';
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: $color-dark-3xl;
    }
}


.menu {
    
    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 35px;

        @include small() {
            position: fixed;
            top: 0;
            right: -320px;
            width: 320px;
            height: 100vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color-light-xl;
            transition: all 1s ease 0s;
            
        }
        &.open {
            right: 0;
        }
    }
    &__item {
    }
    &__link {
        display: inline-block;
        line-height: 24px;
        letter-spacing: 0.075px;
        color: $color-dark-l;
        transition: 0.3s;

        @include small() {
            font-size: 32px;
            line-height: 160%;
        }
        &:hover {
            color: $color-dark-3xl;
        }
    }
    &__link_active {
        color: $color-dark-3xl;
        border-bottom: 3px solid $color-primary;

    }
}
// =========== main =============



.our-friends {
    padding-top: 80px;
    padding-bottom: 100px;    
    background-color: $color-light-l;
    
    @include medium() {
        padding-bottom: 75px;
    }

    @include small() {
        padding: 42px 0;
    }

    &__container {
        
    }
    &__title {
        text-align: center;
        margin-bottom: 59px;

        @include medium() {
            margin-bottom: 30px;
        }

        @include small() {
            margin-bottom: 42px;
        }
    }
    .our-friends__cards {
        margin: 0 auto 60px auto;
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 30px;
        
        @include medium() {
            margin: 0 auto 40px auto;
            width: 580 / 708 * 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }

        @include small() {
            width: 270px;
            overflow: hidden;
            grid-template-columns: 270px;
            grid-template-rows: repeat(3, auto);
        }
    }
}

.pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 270px;
    border-radius: 9px;
    background-color: $color-light-s;
    overflow-x: hidden;

    transition: 0.3s;

    @include medium() {
        &:nth-child(7), 
        &:nth-child(8) {
            display: none;
        }
    }

    @include small() {
        &:nth-child(6),
        &:nth-child(5), 
        &:nth-child(4) {
            display: none;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: $color-light-xl;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

        .pet__btn {
            transition: 0.3s;
            border-color: $color-primary-light;
            background-color: $color-primary-light
        }
        .pet__btn:hover {
            transform: scale(1.05);        }
    }

    * {
        margin-bottom: 30px;
    }
    &__photo {
        height: 270px;
    }
    &__name {
        font-family: 'Georgia';
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
    &__btn {
        box-sizing: border-box;
        width: 187px;
        height: 52px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $color-primary;
        border-radius: 100px;
        font-family: 'Georgia';
        font-size: 17px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        background: transparent;
        color: $color-dark-3xl;
    }
}
.our-friends__navigation {
}
.navigation {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    
    @include small() {
        column-gap: 10px;

    }

    &__btn {
        width: 52px;
        height: 52px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #F1CDB3;
        color: $color-dark-3xl;
        background: transparent;
        font-family: 'Georgia';
        font-size: 20px;
        line-height: 1.09;
        
    }
    &__btn_disabled {
        cursor: default;
        color: $color-dark-s;
        border-color: $color-dark-s;
    }
    &__btn_to-start {
    }
    &__btn_prev {
    }
    &__btn_now {
        background-color: $color-primary;
    }
    &__btn_next {
        transition: 0.3s;

        &:hover {
            background-color: $color-primary-light;
            border-color: $color-primary-light;
        }
    }
    &__btn_to-end {
        transition: 0.3s;

        &:hover {
            background-color: $color-primary-light;
            border-color: $color-primary-light;
        }
    }
}

.footer {
        background: url(../../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
        &__container {
            margin-top: 40px;
    
            @include medium() {
                margin-top: 30px;
            }
        }
        &__row {
            height: 310px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            
            @include medium() {
                display: grid;
                justify-content: center;
                grid-template-columns: 279px 302px;
                grid-template-rows: auto;
                height: auto;
                column-gap: (60 / 708 * 100%);
                row-gap: 66px;
            }
            @include small() {
                grid-template-columns: auto;
                grid-template-rows: repeat(3, auto);
                row-gap: 0px;
                justify-content: center;
                align-items: center;
            }
        }
        
        &__contacts {
            padding-top: 16px;
            padding-bottom: 60px;
            width: 279px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            @include medium() {
                height: 234px;
                padding: 0;
                
            }
    
            @include small() {
                height: auto;
                width: auto;
                align-items: center;
                
            }
        }
        &__title {
            font-family: 'Georgia';
            font-size: 35px;
            line-height: 1.3;
            letter-spacing: 0.06em;
            color: $color-light-xl;
    
            @include small() {
                padding: 0 10px;
                margin-bottom: 40px;
                text-align: center;
                font-size: 25px;
            }
        }
        &__email {
            display: flex;
            justify-content: start;
            align-items: center;
            font-family: 'Georgia';
            font-size: 20px;
            line-height: 115%;
            letter-spacing: 0.06em;
            color: $color-primary;
            
            @include small() {
                margin-bottom: 40px;
            }
    
            & img {
                margin-right: 20px;
            }
        }
        &__location {
            width: 302px;
            padding-top: 16px;
            padding-bottom: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            @include medium() {
                height: 234px;
                padding: 0;
            }
    
            @include small() {
                width: auto;
                height: auto;
                align-items: start;
                
            }
            
        }
        &__image {
            width: 300px;
            min-height: 310px;
            @include medium() {
                grid-column: 1 / 3;
                justify-self: center;
                // align-self: center;
                min-height: auto;
            }
            @include small() {
                min-height: auto;
                grid-column: 1 / 2;
                width: (260 / 300 * 100%);
            }
            // flex-shrink: 0;
    
        }
    }
    